.tweet{
  display:flex;
  flex-direction: column;
  width:100%;
  align-content: center;
  border:4px solid #20201e ;
  margin-top: 10px;
}
/*for article header*/
article.tweet header{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;
  background-image: none;
  padding: 6px 9px;
  margin: 8px;
}
/*to display at the center of the profile icon*/
header div.tweet-icon{
  display:flex;
  align-content: center;
  justify-content: center;
}
/*to align text to the center of the image*/
div.tweet-icon div.icon-text{
  align-self: center;
}
/*for text inside article*/
article.tweet div{
  width:auto;
  height:auto;
  padding: 6px 9px;
}

/*for article footer*/
article.tweet footer{
  width:auto;
  height:auto;
  padding: 6px 9px;
  margin: 8px;
  border-top: 4px solid #20201e;
  display:flex;
  justify-content: space-between;
}
