nav{
  background-color: #bded1f;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: #FFFFFF;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav span{
  font-family: 'Bungee', cursive;
}

#write-a-new-tweet {
  float:right;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes growDown {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-7px)
  }
}

#write-tweet{
  color:red;
  display: flex;
  justify-content: center;
  position: relative;
  animation: growDown 0.5s alternate infinite;
  margin-top: 2%;
}

/*nav color blue for desktop*/
@media only screen and (min-width:1024px){
  nav {
    background-color: rgb(89, 89, 206);
    background-image: none;
  }
  
}