.new-tweet{
  align-content: flex-start;
  display:flex;
  flex-direction: column;
  width:100%;
}

/*For form button*/
.new-tweet button {
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: Bungee, sans-serif;
  margin-top: 8px;
  outline: none;
  padding: 6px 9px;
}
/*output style that counts the number of characters*/
.counter {
  color: #2b2619;
  float: right;
  font-family: Bungee, sans-serif;
  margin-top: 14px;
}


/* Text input field */
#tweet-text {
  background-color: inherit;
  border: 0;
  border-bottom: 4px solid #20201e ;
  color: #2c2b27;
  font-weight: 700;
  height: 40px;
  outline: none;
  resize: none;
  width: 100%; 
}

/*class to turn the text to red*/
.over-the-limit{
  color: red;
}